{erl_opts, [debug_info]}.

{deps, [
    {cowboy,  "2.10.0"},
    {jsone,   "1.8.0"},
    {uuid,    {git, "https://github.com/okeuday/uuid.git", {tag, "v2.0.6"}}}
]}.

{profiles, [
    {test, [
        {erl_opts, [{extra_src_dirs, [
            "test/cards",
        "test/players",
        "test/tournaments",
        "test/marketplace",
        "test/content"
        ]}]}
    ]}
]}.

{shell, [
    {apps, [mnesia, cards_project]},
    {config, "config/sys.config"}
]}.

{relx, [
    {release, {cards_project, "0.1.0"}, [mnesia, cards_project]},
    {mode, dev}
]}.
